<h1>To Do</h1>

<p>Here are all your to-do lists:</p>
<ul>
  <% @lists.each do |list| %>
    <li><a href="/lists/<%= list.id %>"><%= list.name %></a></li>
  <% end %>
</ul>

<form action="/" method="post">
  <p><input type="text" placeholder="List Name" required name="name"></p>
    <button type="submit">
       add lists
    </button>
  </p>
</form>
